<launch>

  <node name="camera_0"
        pkg="image_view2" type="publish_lena.py">
    <remap from="image" to="~image" />
  </node>
  <node name="camera_1"
        pkg="image_view2" type="publish_lena.py">
    <remap from="image" to="~image" />
  </node>

  <node name="image_view2_0"
        pkg="image_view2" type="image_view2">
    <remap from="image" to="camera_0/image" />
    <rosparam>
      interaction_mode: rectangle
      use_window: false
    </rosparam>
  </node>
  <node name="image_view2_1"
        pkg="image_view2" type="image_view2">
    <remap from="image" to="camera_1/image" />
    <rosparam>
      interaction_mode: rectangle
      use_window: false
    </rosparam>
  </node>

  <node name="publish_mouse_event"
        pkg="image_view2" type="publish_mouse_event.py">
    <remap from="~plus_rect_event" to="camera_0/image/event" />
    <remap from="~minus_rect_event" to="camera_1/image/event" />
    <rosparam>
      image_width: 512
      image_height: 512
    </rosparam>
  </node>

  <test test-name="image_view2_topics"
        name="image_view2_topics"
        pkg="jsk_tools" type="test_topic_published.py"
        retry="3">
    <rosparam>
      topic_0: /camera_0/image/screenrectangle_image
      timeout_0: 10
      topic_1: /camera_1/image/screenrectangle_image
      timeout_1: 10
    </rosparam>
  </test>

</launch>
