# udev rules to allow write access to all users for Arduino
SUBSYSTEM=="usb", ATTR{idVendor}=="16d0", ATTR{idProduct}=="0613", MODE="0666"

SUBSYSTEM=="usb", ATTR{idVendor}=="1a86", ATTR{idProduct}=="7523", MODE="0666"

SUBSYSTEM=="usb", ATTR{idVendor}=="2341", ATTR{idProduct}=="8036", MODE="0666"