[Desktop Entry]
Version=1.0
Type=Application
Name=DrSpot Stop Log
Comment=
Exec=/home/spot/.local/bin/stop_drspot_logging.bash
Icon=
Path=
Terminal=true
StartupNotify=false
