[Desktop Entry]
Version=1.0
Type=Application
Name=DrSpot Vitals Readout GUI
Comment=
Exec=/home/spot/.local/bin/run_vitals_readout_gui.bash
Icon=
Path=
Terminal=true
StartupNotify=false
